.board {
    display: grid;
    grid-template-rows: 100px 100px 100px;
    grid-template-columns: 100px 100px 100px;
    grid-template-areas:
    'top-left top-center top-right'
    'middle-left middle-center Middle-right'
    'bottom-left bottom-center bottom-right';    
    overflow: hidden;
    border: 2px;
    border-color: black;
    border-radius: 2px;
    grid-gap: 1em;
   --line-offset: calc(var(--gap) / 2);
   --line-thickness: 2px;
   --line-color: red;
}
.slot {
    position: relative;

}
.slot:before, 
.slot:after {
   content: '';
   position: absolute;
   background-color: var(--line-color);
   z-index: 1;
}

.slot::after {
    inline-size: 100vw;
    block-size: var(--line-thickness);
    inset-inline-start: 0;
    inset-block-start: calc(var(--line-offset) * -1);
  }

  .slot::before {
    inline-size: var(--line-thickness);
    block-size: 100vh;
    inset-block-start: 0;
    inset-inline-start: calc(var(--line-offset) * -1);
  }

  .slot-1