
.playing-area {
  max-width: fit-content;
  margin-inline: auto;
}

.board {
    display: grid;
    height: 500px;
    width: 400px;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
    'top-left top-center top-right'
    'middle-left middle-center middle-right'
    'bottom-left bottom-center bottom-right';    
    /* justify-items: center;
    align-items: center; */
    overflow: hidden;
    border: 2px;
    border-color: black;
    border-radius: 2px;
    grid-gap: 5px;
    border-style: solid;
}
.slot {
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-spacing: 150px;
}


  .slot-1 {
    grid-area: top-left
  }
  
  .slot-2 {
    grid-area: top-center
  }

  .slot-3 {
    grid-area: top-right
  }

  .slot-4 {
    grid-area: middle-left
  }
  
  .slot-5 {
    grid-area: middle-center

  }
  .slot-6{
    grid-area: middle-right

  }
  .slot-7 {
    grid-area: bottom-left

  }
  .slot-8 {
    grid-area: bottom-center

  }
  .slot-9 {
    grid-area: bottom-right

  }

  .deck {
    display: grid;
    height: auto;
    width: auto;
    grid-template-rows: repeat(3, auto);
    grid-template-columns: 1;
    grid-template-areas:
    'top-left top-center top-right'
    'middle-left middle-center middle-right'
    'bottom-left bottom-center bottom-right';    
    /* justify-items: center;
    align-items: center; */
    overflow: hidden;
    border: 2px;
    border-color: black;
    border-radius: 2px;
    grid-gap: 5px;
    border-style: solid;
  }

  .card {
    position: relative;
    height: 150px;
    width: 118px;
    border-style: solid;
    border-width: 1px;
    border-radius: 1px;
    border-spacing: 150px;
  }

  div.image1 {
    background-image:url('images/Kain.png');
    margin: 0; /* If you want no margin */
    padding: 0; /*if your want to padding */
    background-size: cover;
  }